a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var
{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}

body{
line-height:1
}

ol,ul{
list-style:none
}
table{
border-collapse:separate;border-spacing:0;vertical-align:middle
}
caption,td,th{
text-align:left;font-weight:400;vertical-align:middle
}

a img{border:none}body,html{background:#efecdb;margin:0;padding:0}
body{font-family:Mate,serif;font-size:1em;color:#FFFFFF}
a{color:#8a6044}
a.active,
a:hover{color:#999;text-decoration:none}
article,header,nav{display:block}
h1,h2,h3,h4,h5,h6{margin:0 0 27px;font-family:'Homemade Apple',cursive;font-weight:400;color:#8a6044}
h1{font-size:1.7em}
h2{font-size:1.6em}
h3{font-size:1.5em}
h4{font-size:1.4em}
h5{font-size:1.3em}
h6{font-size:1.2em}
p{margin:15px 0}
.clearfix{zoom:1}
.clearfix:after,
.clearfix:before{content:"";display:table}
.clearfix:after{clear:both}
.wrapper{max-width:990px;margin:40px auto}
.app-header{height:350px;margin:0 auto;padding:50px 0 0}
.app-header 
.logo{height:350px;margin:0 auto;position:relative}
.app-header 
.logo a{display:block}
.app-header 
.logo img{height:350px;margin:0 auto;display:block}
@media (max-width:970px){.app-header{margin-bottom:20px}}
@media (max-width:400px){.app-header{height:auto}
.app-header 
.logo{margin:0 20px}
.app-header 
.logo img{width:100%;height:auto}}
.app-nav{background:#efecdb;margin:50px auto 0;font-family:'Homemade Apple',cursive;position:relative;z-index:1}
.app-nav ul{margin:0;padding:32px 0;border-top:3px dashed #8a6044;border-bottom:3px dashed #8a6044}
.app-nav .links-list{margin:0 auto;text-align:center}
.app-nav .links-list li{margin:0 20px;display:inline}
.app-nav .links-list li a{font-size:1.3em}
@media (max-width:970px){.app-nav{margin:20px}}
.fixed 
.app-nav{width:100%;max-width:100%;margin:0;padding:20px 0 0;position:fixed;top:0}
.sidebar{width:300px;padding:0 0 0 17px;float:right;border-left:3px dashed #8a6044}
.sidebar 
.social-title{text-align:right}
.sidebar 
.list{margin:0;padding:0;list-style:none}
.sidebar .list .widget{margin-bottom:20px;clear:both}
.sidebar .list .icon{background:0 0;width:90px;margin:0 0 20px;float:left}
.sidebar .list .icon img{width:100%;float:left}
.sidebar .list .pinterest{margin:0 15px}
.sidebar .list .google-plus{margin-bottom:0}
@media (max-width:970px){.sidebar{float:none;margin:0 auto;padding:0;border:0}
.sidebar .social-title{text-align:center}}@media (max-width:970px){.app-content{margin:0 20px}}
.fixed .app-content{margin-top:110px}
.app-footer{margin:0 auto 20px;padding:20px 0;border-top:3px dashed #8a6044;border-bottom:3px dashed #8a6044;text-align:center}
.app-footer h1{margin:13px 0 0;float:left}
.app-footer .list{margin:0;padding:0;list-style:none}
.app-footer .icon{margin:0 10px;float:right}
.app-footer .icon a{display:block;text-decoration:none}
.app-footer .icon img{width:40px}